.navbar-gris{
  background: #d7dbda;
}
.etiquetas {
  padding: 0% 15%  0%  15%;
  list-style: none;
  text-align: center;
  box-sizing: border-box;
  color: grey;
  font-weight: bolder;
  
}
.etiquetas > li >span{
  background: white;
  padding: 4em;

  
}
.etiquetas > li {
  width: 20%;
  padding: 5px; 
  box-sizing: border-box;
  float: left;
}
.etiquetas{
  list-style: none;
}

body {
  background: red;
}

.vista_index_categoria {

padding-right: 0px;
     padding-left: 0px; 
}