.navbar-gris{
  background: #d7dbda;
}
.etiquetas {
  padding: 0% 15%  0%  15%;
  list-style: none;
  text-align: center;
  box-sizing: border-box;
  color: grey;
  font-weight: bolder;
  
}
.etiquetas > li >span{
  background: white;
  padding: 4em;

  
}
.etiquetas > li {
  width: 20%;
  padding: 5px; 
  box-sizing: border-box;
  float: left;
}
.etiquetas{
  list-style: none;
}

body {
  background: red;
}

.titulo_objeto_vista {
  margin-top: 0px;
  color: white;
}

.titulo_objeto_vista > a {
  font-weight: bolder;
  color: white;
}

.titulo_objeto_vista > a:hover {
text-decoration: none;
}

.vista_index_categoria {

padding-right: 0px !important;
     padding-left: 0px !important; 
}

.objeto_global{
  color: white;
    line-height: 1em;
        /*height: 4em;*/
}

.col-md-6 .objeto_global {

      height: 150px;
}

.floatmap {
  background-color: #fff;
  border: 3px solid grey;
  padding: 0px;
}
.floatmap iframe {
  position: absolute;
  top: 0;
  left: 0;
   width: 100% !important;
        height: 100% !important;
}



.mapsview{border: 5px solid purple;



}
#EGMapContainer1view{width: 700px !important;
height: 100% !important;}
.floatmapview{
  /*width: 100%;*/
    position: fixed;
    top: 8%;
    right: 0;
    z-index: 10000;
    bottom: 0;
    }

.view_details{
  color: white;
}
.view_details h1{
  font-weight: bolder;
}

.view_carrousel{
  padding-bottom: 2em;
}

.twa{
  /*background: white;*/
  /*background-size: 100% 100%;*/

}

.white {color:white;}
.bolder {font-weight:bolder;}
.lista_etiquetaview{

padding: 0% 0% 0% 0% !important ;
}
.etiqueta_view{
  width:  auto !important ;
}

.multi-item-carousel .carousel-inner > .item {
  -webkit-transition: 500ms ease-in-out left;
  transition: 500ms ease-in-out left;
}
.multi-item-carousel .carousel-inner .active.left {
  left: -33%;
}
.multi-item-carousel .carousel-inner .active.right {
  left: 33%;
}
.multi-item-carousel .carousel-inner .next {
  left: 33%;
}
.multi-item-carousel .carousel-inner .prev {
  left: -33%;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .multi-item-carousel .carousel-inner > .item {
    -webkit-transition: 500ms ease-in-out all;
    transition: 500ms ease-in-out all;
    -webkit-backface-visibility: visible;
            backface-visibility: visible;
    -webkit-transform: none!important;
            transform: none!important;
  }
}
.multi-item-carousel .carouse-control.left,
.multi-item-carousel .carouse-control.right {
  background-image: none;
}